
.header {
    text-align: center;
    border-style: solid;
    border-color: #333;
    border-radius: 20px;
    margin: 20px;
    background-color: lightpink;
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

.flex-container > * {
    flex: 1 1 auto;
}

.flex-item {
    text-align: start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: dotted;
    border-color: #333;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}


.image-container img {
    width: auto;
    height: 250px;
}

